@import "reset";
/** if you have separate file for variables and mixins, or fonts - import it here **/
html {
  font-size: 10px;
}
.container {
  max-width: 1180px;
  min-width: 300px;
  padding: 0 10px;
  margin: 0 auto;
}


@import "header";
@import "content";

/** MEDIA **/
@import "media/all-media";